<div class="modal-dialog" role="document">
  <div class="modal-content">
    <%= form_for @expense, remote: true do |f| %>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Create Expense</h4>
    <div class="error"></div>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-xs-6">
          <h4>Type</h4>
          <div class="form-group">
            <%= f.collection_select :type_id, Type.all, :id, :body, {}, class: 'form-control' %>
          </div>
        </div>
        <div class="col-xs-6">
          <h4>Date</h4>
          <div class="form-date">
            <%= f.date_field :date, class: "form-control input", value: Date.today%>
          </div>
        </div>
        <div class="col-xs-12">
          <h4>Concept</h4>
          <div class="form-group">
            <%= f.text_field :concept, validate: true, class: "form-control"%>
          </div>
        </div>
        <div class="col-xs-6">
          <h4>Category</h4>
          <div class="form-group">
            <%= f.collection_select(:category_id, Category.all, :id, :body,{}, {:class=>'form-control'}) %>
          </div>
        </div>
        <div class="col-xs-6">
          <h4>Amount</h4>
          <div class="form-group">
            <%= f.number_field :amount, class: "form-control"%>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <%= f.submit "Crear", class: "btn btn-default", id: "send" %>
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
    <% end %>
  </div>
</div>
